@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #f8f8f8;
}
.form-control {
  fill: none;
  background: transparent;
  border: none;
}
textarea:focus,
input:focus {
  outline: none;
}
input.input-box {
  background-color: rgb(243 244 246);
}
input.hash {
  background-color: #f3f4f6;
}
.loader {
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #fff;
  animation: an1 1s ease infinite;
}
@keyframes an1 {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.loader2 {
  pointer-events: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #10cef7;
  animation: an2 1s ease infinite;
}
@keyframes an2 {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

/* input.comment::placeholder {
  font-size: 20px;
} */
